@page "/createOperation"
<h2>Create Operation</h2>
<EditForm Model="_operation" OnValidSubmit="CreateAsync" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="date" class="col-md-2 col-form-label">Date:</label>
        <div class="col-md-10">
            <InputDate id="date" class="form-control" @bind-Value="_operation.Date"></InputDate>
            <ValidationMessage For="@(() => _operation.Date)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="amount" class="col-md-2 col-form-label">Amount:</label>
        <div class="col-md-10">
            <InputNumber id="amount" class="form-control" @bind-Value="_operation.Amount"></InputNumber>
            <ValidationMessage For="@(() => _operation.Amount)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="SelectCategory" class="col-md-2 col-form-label">Category:</label>
        <div class="col-md-10">
            <InputSelect class="form-control" placeholder="Select category" id="SelectCategory" @bind-Value="_operation.CategoryId">
                <option class="dropdown-item" value="0" selected disabled hidden>Select category</option>
                @foreach (var category in _categories)
                {
                    <option class="dropdown-item" value="@category.Id">@category.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => _operation.CategoryId)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="reset" class="btn btn-danger" @onclick="Back">Back</button>
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
</EditForm>
